{% extends 'www/base.html' %}

{% block content %}

<h1>Osakunnan toimintaa</h1>
<p>
Osakunnalla on monipuolista toimintaa. Alla on hieman otsikoitua pääpiirteittäin mitä me oikein touhutaan.
</p>
<br />
<h3>Kahvi-iltapäivä</h3>
<p>
Osakunnassa vietetään perinteistä kahvi-iltapäivää tiistaisin klo 13.30. Tällöin kerhohuoneella on varmimmin paikalla muitakin osakuntalaisia ja tarjolla on kaffin lisäksi pullaa tms. Tuu juttelemahan mukavas seuras tai vaikka vain kattomahan mitä päivän Ilikas lukoo.
</p>
<p>
<strong>Hinnasto:</strong><br />
Kahvi / tee 30 senttiä<br />
Pulla 30 senttiä 
</p>
<br />
<h3>Leffaillat</h3>
<p>
Leffailtoja järjestetään muutaman kerran vuodessa. Tarjolla on yleensä kotimaista laatuviihdettä. Jatkot yleensä osakuntahuoneella, joista ei kannata jäädä paitsi... ;)
</p>
<br />
<h3>Tapahtumat</h3>
<p>
Tapahtumiin osallistuminen on pääpainoisesti urheilutapahtumissa (muun, kuin osakunnan järjestämä). Perinteeksi onkin muodostunut MIK:n pesisturnaus alkusyksystä ja Akateemiset kirkkovenesoudut heti perään. Myös jalkapalloa on yleensä pelattu KoneCupissa. Kevätpuolella kartut viuhuu kyykän peluun merkeissä eikä sovi unohtaa perinteistä Skillan järjestämää kaukalopalloturnausta. Ja tärkeintähän ei ole voittaminen, vaan vastustajien täydellinen nöyryyttäminen...
</p>
<p>
TTEPO näyttäytyy joka syksy tutussa paikassa fuksimessuilla ja Wapunpäivänä on perinteistäkin perinteikkäin makkaranmyynti Koskipuistossa teekkarikasteen aikana. Lisäksi heinäkuussa on vietetty kesätapaamista Etelä-Pohjanmaan maisemissa. Hieman harvemmin eli viiden vuoden välein on tavattu järjestää vuosijuhlat sekä tehdä juhlavuosijulkaisu.
</p>
<br />
<h3>Saunaillat</h3>
<p>
Kuten teekkariperinteeseen kuuluu, tottakai pitää saunoa. Syksyllä on heti fuksimessujen jälkeen järjestetty fuksisauna, jossa pääsee paremmin tutustumaan osakuntalaisiin. Pesissaunaa on tavattu yleensä pitää, kun se kerran pesisturnauksen voitosta on palkintona. Syysyleiskokouksessa marraskuussa valitaan seuraavan vuoden hallitus ja samalla vietetään perinteikkäitä pikkujouluja. Helmikuussa järjestetään kevään yleiskokous, jossa vanha hallitus hieman kertoo omasta hallituskaudestaan.
</p>
<br />
<h3>Yleistä</h3>
<p>
Jokapäiväistä toimintaa on osakuntahuoneella päivän lehtien lukeminen, päivää polttavista asioista toimittelu ja kortin peluu kaffittelun lomassa.
</p>

{% endblock %}