{% extends 'www/base.html' %}
{% load staticfiles %}

{% block content %}

<h1>TTEPO FAQ</h1>
	<br />
	<strong> Q: Mitä lehtiä osakuntaan tulee? </strong><br/>
		A: Osakuntaan tulee seuraavat lehdet:
	<br/>
	<ul>
		<!-- <li> Ilkka </li> -->
		<li> Ilmajoki-lehti </li>
		<li> Jalasjärven-Peräseinäjoen kunnallissanomat </li>
		<!-- <li> Järviseudun sanomat </li> -->
		<!-- <li> Järviseutu </li> -->
		<li> Kauhajoen Kunnallislehti </li>
		<!-- <li> Komiat </li> -->
		<li> Lapuan sanomat </li>
		<!-- <li> Tekniikka &amp; talous </li> -->
		<li> Viiskunta </li>
		<li> Ykköset </li>

	</ul>
	<br/>

	<strong>Q: Miten pääsen jäseneksi? </strong><br/>
	A: Jäseneksi pääsee yksinkertaisesti maksamalla jäsenmaksun (5 €). 
	Olet jäsen koko TTYY:hyn kuulumisesi ajan. Maksun voi suorittaa kerhohuoneella mieluiten kahvi-iltapäivisin.
	<br/><br/>

	<strong>Q: Onko kerhohuoneella myyntipäivystystä? </strong><br/>
	A: Varsinaista myyntipäivystystä ei ole. Varmimmin myyjiä on paikalla kahvi-iltapäivisin. 
	<br/><br/>

	<strong>Q: Onko osakunnalla omaa kangasmerkkiä? </strong><br/>
	A: Johan nyt toki. <a href="{% static 'pics/kangasmerkki.jpg' %}">Kangasmerkki</a> on kuvasta 
	poiketen nykyisin brodeerattu ja taustaltaan valkoinen.
	<br/><br/>

	<strong>Q: Haluan osakuntapaidan itselleni, mistä niitä saa?</strong><br/>
	A: Tilauksia tehdään noin kerran vuodessa. Lisäksi osakuntaan tilataan muutamia 
	ylimääräisiä, joita voi myös kysellä osakunnasta tai lähettämällä sähköpostia jollekin 
	hallituksen jäsenelle.
	<br/><br/>

	<strong>Q: Onko osakunnalla irc-kanavaa?</strong><br/>
	A: Jep! kanava on nimeltään #ttepo (ircnet) (yllättäen) ja ohjeita kanavalle pääsemiseksi voit lukea vaikka <a href="irc">täällä</a>
	<br/><br/>

	<strong>Q: Jäsentietoni ovat vanhentuneet tai virheelliset. Mitä teen? </strong> <br/>
	A: Lähetä tiedotusvastaavalle maili, jossa kerrot uudet/oikeat tiedot.
	<br/><br/>

	<strong>Q: Olen kuullut että osakuntahuoneella pelataan joskus korttia, onko 
	se totta?</strong><br/>
	A: Kyllä se pitää paikkansa. Suosituimpia tällä hetkellä ovat koira, 
	moska ja neekeri. <a href="kortit.shtml">Tästä</a> näet 
	osakunnassa käytössä olevat säännöt.
	<br/><br/><br/>
	<br/>


{% endblock %}