{% extends 'www/base.html' %}

{% block content %}
	<h1>Linkkejä</h1> <br/>

	<h3> Koulu ja opiskelu: </h3> <br/>
	
	<a href="http://www.juvenes.fi/fi-fi/ravintolatjakahvilat/opiskelijaravintolat/ttykampus.aspx">Mun on näläkä! </a><br/>
	<a href="http://www.tut.fi/pop">POP</a><br/>
	<a href="https://www.tut.fi/public/oppaat/opas2012-2013/perus/laitokset/">Opinto-opas </a><br />
	<br/>
	
	<a href="http://www.etelapohjanmaa.fi/">Etelä-Pohjanmaan maakuntaportaali</a><br/>
	<a href="http://www.sjoki.uta.fi/epliitto/">Etelä-Pohjanmaan liitto</a><br/>
	<a href="http://fennica.net/a/3fb/5143fb.htm"> Tietoa Etelä-Pohjanmaan kaupungeista</a><br/>
	<br/><br/>

	<h3>Lehtiä:</h3> <br/>
	
	<a href="http://www.ilkka.fi"> Ilkka </a><br/>
	<a href="http://www.pohjalainen.fi"> Pohjalainen </a><br/>
	<a href="http://www.ykkoset.fi"> Ykköset </a><br/>
	<a href="http://www.iltasanomat.fi"> Iltasanomat </a><br/>
	<a href="http://www.iltalehti.fi"> Iltalehti </a><br/>
	<br/> <br/>
	
	<h3>Muita osakuntia: </h3><br/>
	
	<a href="http://epo.osakunta.fi/"> Helsingin yliopiston etelä-pohjalainen osakunta </a> <br/>
	<a href="http://www.uta.fi/jarjestot/typo/"> Tampereen yliopiston pohjalainen osakunta </a><br/>
	<a href="http://tyyala.utu.fi/tpo/"> Turun yliopiston pohjalainen osakunta</a><br/>
	<a href="http://www.uku.fi/pohjalaiset/"> Kuopion yliopiston Pohjalainen osakunta</a><br/>
	<a href="http://etelapohjalainenosakunta.wordpress.com/"> Jyväskylän yliopiston Eteläpohjalainen osakunta </a><br/>	
	<a href="http://www.student.oulu.fi/~epo/"> Oulun Yliopiston Etelä- ja Keski-Pohjalainen Osakunta </a><br/>	
	<a href="http://www.uwasa.fi/~puukkoo/"> Vaasan yliopiston eteläpohjalainen osakunta</a><br/>
	<a href="http://www.osterbottniskanationen.fi/"> Åbo Akademin österbottniska Nationen </a>
	<br/>

{% endblock %}