{% extends 'www/base.html' %}
{% load staticfiles %}

{% block content %}

<h1>TTEPO:n vuosijulkaisut</h1>

<p>Vuosijulkaisuja on sähköisessä muodossa kolme kappaletta. Paperiversioita on
useilta vuosilta ja voit tulla selaamaan niitä kerhohuoneelle. Siellä on 
luettavissa mm. 1-vuotisjuhlajulkaisu! </p>
<br/>

<table id="julkaisu">
<tr>
<td>
<h3>Juhlavuosijulkaisu 1997</h3>
</td>
<td>
<h3>Juhlavuosijulkaisu 2002</h3>
</td>
<td>
<h3>Juhlavuosijulkaisu 2007</h3>
</td>
</tr>
<tr>
<td>
<a href="{% static 'julkaisut/julkaisu1997.pdf' %}"><img src="{% static 'julkaisut/julkaisu1997.gif' %}" alt="Juhlavuosijulkaisu 1997" title="Juhlavuosijulkaisu 1997"/></a>
</td>
<td>
<a href="{% static 'julkaisut/Juhlavuosijulkaisu2002.pdf' %}"><img src="{% static 'julkaisut/Juhlavuosijulkaisu2002.gif' %}" alt="Juhlavuosijulkaisu 2002" title="Juhlavuosijulkaisu 2002"/></a>
</td>
<td>
<a href="{% static 'julkaisut/julkaisu07.pdf' %}"><img src="{% static 'julkaisut/julkaisu07.gif' %}" alt="Juhlavuosijulkaisu 2007 " title="Juhlavuosijulkaisu 2007"/></a>
</td>
</tr>
<tr>
<td>
</td>
<td>
</td>
<td>
<a href="{% static 'julkaisut/vastaus.pdf' %}">Ristikon ratkaisu</a>
</td>
</tr>

<tr>
<td>
<h3>Juhlavuosijulkaisu 2012</h3>
</td>
</tr>
<tr>
<td>
<a href="{% static 'julkaisut/Julkaisu2012.pdf' %}"><img src="{% static 'julkaisut/Julkaisu2012.gif' %}" alt="Juhlavuosijulkaisu 2012" title="Juhlavuosijulkaisu 2012"/></a>
</td>
</tr>
</table>


{% endblock %}